{{social-icons}}
<h1>{{title}}</h1>
{{yield}}
<hr>
<footer>
  {{#if fullFooter}}
    <p>Bithomp is a service of Octillion S.A. and has not been authorized, endorsed, sponsored or otherwise approved by Ripple or its affiliates.</p>
  {{/if}}
  © 2015 - {{thisYear}} 
  <a href="http://octillion.info" target="_blank">Octillion S.A.</a> 
  All Rights Reserved
</footer>
