<a href="https://twitter.com/bithomp" target="_blank">{{fa-icon "twitter"}}</a>
<a href="https://www.instagram.com/bithomp/" target="_blank">{{fa-icon "instagram"}}</a>
{{#if notIndex}}
  {{#link-to "index" target="_blank"}}{{fa-icon "home"}}{{/link-to}}
{{/if}}
