<a href="https://twitter.com/bithomp" target="_blank">{{fa-icon "twitter"}}</a>
<a href="https://www.instagram.com/bithomp/" target="_blank">{{fa-icon "instagram"}}</a>
{{#link-to "index"}}{{fa-icon "home"}}{{/link-to}}
