// Colors
$black                = #333
$grey                 = #646464
$blue                 = #578EBE
$blue-active          = #357ebd
$blue-active-border   = #3071a9
$white                = #ffffff
$link-color           = #005580

$red                  = #333
$green                = #419dcc

// Dimensions
$page-container-width = 1200px
$single-column-width  = 900px
