// Colors
$black                = #333
$red                  = #900
$orange               = #DC8246
$green                = #1A6834
$grey                 = #646464
$white                = #ffffff

$blue                 = #346AA9 //strong bright blue
$blue-link            = #005580 //superdark blue
$blue-button          = #578EBE //light bright
$blue-active          = #357ebd //everage blue
$blue-active-border   = #3071a9 //nice blue

// Dimensions
$page-container-width = 1200px
$single-column-width  = 900px
