html
  margin 0

  body
    margin 0
    border none
    background url(../images/ui/bg.jpg)
    color $black
    font-family 'Open Sans', sans-serif
    font-size 14px
    line-height 20px

@import "ui/loading-slider"
@import "ui/main-box"
@import "ui/social-icons"
