html
  margin 0

  body
    margin 0
    border none
    background url(../images/ui/bg.jpg)
    color $black
    font-family 'Open Sans', sans-serif
    font-weight 400
    font-size 14px
    line-height 20px
    overflow-y scroll
    
    a
      color $grey
      text-decoration none

      &:hover, &:focus
        color $blue-link
        text-decoration underline

    button, .button
      display inline-block
      cursor pointer
      margin-right 7px
      margin-left 7px
      margin-bottom 14px
      background-color $blue-button
      border 1px solid 
      border-color $blue-button
      color $white
      font-size 14px
      padding 6px 12px
      box-shadow inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)

      &:hover, &:focus
        color $white
        background-color $blue-active
        border-color $blue-active-border
        text-decoration none

    .bold
      font-weight 700

    .table
      display table

    .table-row
       display table-row

    .table-cell
       display table-cell

    .blue
      color $blue

    .red
      color $red

    .green
      color $green

    .orange
      color $orange

    .clearfix
      clear both

    .smallsize
      font-size 12px

  @media (max-width: $mobile-width)
    body
      font-size 12px

      button
        font-size 12px

      .button
        font-size 11px

      .smallsize
        font-size 10px

@import "ui/main-box"
@import "ui/social-icons"
@import "ui/icons"
@import "ui/inputs"
@import "ui/popup"
@import "ui/xrp-price"
@import "pages/index"
@import "pages/create"
@import "pages/learn"
