{{#main-box title="Exchange Automat"}}

  <select onchange={{action (mut type) value="target.value"}}>
    {{#each types as |typeChoice|}}
      <option value={{typeChoice.value}} selected={{eq type typeChoice.value}}>{{typeChoice.title}}</option>
    {{/each}}
  </select>

  <!--div class="input-prepend narrow-prepend" title="Exchange type">
    <span class="add-on"><i class="fa fa-arrow-down green" id="typeArrow"></i></span>
    <select class="input-large span10" name="extype" id="extype">
      <option value="typeBuy">I want to BUY a specific amount</option>
      <option value="typeSell">I want to PAY a specific amount</option>
    </select>
    <input name="extypevalue" id="extypevalue" type="hidden">
  </div-->
  
{{/main-box}}
