{{#main-box title="Choose a Ripple tool"}}
  <center>
    {{link-to "Ripple account activation" "activation" tagName="button"}}
    <button onclick="location.href='https://bithomp.com/explorer/';">Block explorer</button>
    <button onclick="location.href='https://bithomp.com/create/';">New account</button>
    {{link-to "Exchange" "exchange" tagName="button"}}
  </center>
{{/main-box}}
