@font-face
  font-family "icons"
  src url('../fonts/icons-51c446195575425cef2ecd7189d41eec.eot') format("embedded-opentype"), url('../fonts/icons-51c446195575425cef2ecd7189d41eec.woff') format("woff"), url('../fonts/icons-51c446195575425cef2ecd7189d41eec.ttf') format("truetype"), url('../fonts/icons-51c446195575425cef2ecd7189d41eec.svg') format("svg")

i.xrp::before
  font-family "icons"
  font-style normal
  content ""

i.fa-icon 
  font-family "FontAwesome"
  font-style normal

.loading
  opacity 0.8
  width 12px
  height 12px
  animation spin 1s linear infinite

@keyframes spin
  100%
    transform rotate(360deg)
