.page-overlay
  position fixed
  height 100%
  top 0
  left 0
  width 100%
  z-index 99
  background-color rgba(33, 33, 33, 0.7)
  opacity 0
  visibility hidden
  transition opacity 0.3s, visibility 0s linear 0.5s
  &.show
    opacity 1
    visibility visible
    transition-delay 0s

.popup
  z-index 100
  animation-duration 1s
  opacity 0
  visibility hidden

  &.show
    opacity 1
    transition-delay 0s
    visibility visible
